@import "tailwindcss";

@theme {
  --color-primary-50: #fdf8f6;
  --color-primary-100: #f2e8e5;
  --color-primary-200: #eaddd7;
  --color-primary-300: #e0cec7;
  --color-primary-400: #d2bab0;
  --color-primary-500: #a18072;
  --color-primary-600: #977669;
  --color-primary-700: #846358;
  --color-primary-800: #43302b;
  --color-primary-900: #3c2b27;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdf8f6;
  color: #43302b;
}